<h1>Listing domain_emails</h1>

<table>
  <tr>
    <th>Address</th>
    <th>State</th>
    <th>Address fullname</th>
    <th>Domain</th>
  </tr>

<% @domain_emails.each do |domain_email| %>
  <tr>
    <td><%=h domain_email.address %></td>
    <td><%=h domain_email.state %></td>
    <td><%=h domain_email.address_fullname %></td>
    <td><%=h domain_email.domain.dnsname %></td>
    <td><%= link_to 'Show', domain_email %></td>
    <td><%= link_to 'Edit', edit_domain_email_path(domain_email) %></td>
    <td><%= link_to 'Destroy', domain_email, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New domain_email', new_domain_email_path %>