<p>
  <b>Address:</b>
  <%=h @domain_email.address %>@<%=h @domain_email.domain.dnsname %>
</p>

<p>
  <b>State:</b>
  <%=h @domain_email.state %>
</p>

<p>
  <b>Address fullname:</b>
  <%=h @domain_email.address_fullname %>
</p>

<p>
  <b>Domain:</b>
  <%=h @domain_email.domain.dnsname %>
</p>

<p>
  E-mailtype: <%=h @domain_email.domain_email_type.name %>
</p>


<%= link_to 'Edit', edit_domain_email_path(@domain_email) %> |
<%= link_to 'Back', domain_emails_path %>