<p>
  <b>Adminid:</b>
  <%=h @domain.adminid %>
</p>

<p>
  <b>Dnsname:</b>
  <%=h @domain.dnsname %>
</p>

<p>
  <b>Dnsname idn:</b>
  <%=h @domain.dnsname_idn %>
</p>

<p>
  <b>Comment:</b>
  <%=h @domain.comment %>
</p>

<p>
  <b>State:</b>
  <%=h @domain.state %>
</p>

=== EMAILS === <br/>


<% if @domain.domain_emails.count > 0 %>
  <% @domain.domain_emails.each do |email| %>
  <p>
    E-Mailaddress: <%=h email.address %>
  </p>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>